<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>電光掲示板</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="ledText"><span>
   <% @posts.reverse_each do |post| %>
    
    	<%= post.name %>:<%= post.content %>&nbsp;&nbsp;&nbsp;
 
	<% end %>
	</span></div>
	
</body>
</html>
